<div ng-app="myApp" ng-controller="PlayerController" class="col-md-8" ng-init="getPlayers(); getUserStatus()">
<div class="col-xs-6">
<h2>Players</h2>
<div class="table-responsive">
    <table ng-table="tableParams" class="table table-bordered table-hover" show-filter="true">
        <tr ng-repeat="key in $data" ng-click="AddPlayer(key)">
            <td ng-click="$event.stopPropagation()"><a ng-click="openInfo('lg', $event, key)"><i class="fas fa-info" style="font-size:20px"></i></a></td>
            <td data-title="'Name'">{{key.first_name}} {{key.web_name}}</td>
            <td data-title="'Position'" filter="{'pos': 'select'}" filter-data="positions">{{key.pos}}</td>
            <td data-title="'Team'" filter="{team_name: 'select'}" filter-data="team_names">{{key.team_name}}</td>
        </tr>
    </table>
    </div>
</div>

<div class="col-xs-6"><button style="float: right" ng-click="loadTeam()">Load Team</button>
<h2>Poj</h2>    <select ng-show="user == true" style="float: right" ng-model="selectedName" ng-options="x for x in names">
</select>
<div class="table-responsive">
    <button ng-click="getPredictions()">Get Predictions</button>
    <button style="float: right" ng-click="saveTeam()">Save Team</button>
    <!--<button ng-show="$rootScope.userLogged == true" style="float: right" ng-click="loadUserTeam()">Load Team</button>-->
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Pos</th>
            <th>Team</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="key in selectedPlayers" ng-click="RemovePlayer(key)">
            <td>{{key.first_name}} {{key.web_name}}</td>
            <td>{{key.pos}}</td>
            <td>{{key.team_name}}</td>
        </tr>
        </tbody>
    </table>
    <button style="float: left" ng-click="clearTeam()">Clear Team</button>
    </select>
    </div>
    </div>
</div>

<!--<div ng-app="myApp" ng-controller="FixtureController" class="col-md-5">-->
    <!--<h2>Match Highlights</h2>-->

<!--</div>-->

<div style="float: right;" ng-app="myApp" ng-controller="PlayerController" class="col-md-3">
    <h2>Player Projections</h2>
    <table class="table table-hover">
        <tr>
            <th>Player</th>
            <th>Projected Points</th>
            <!--<th>Goals For</th>-->
            <!--<th>Goals Against</th>-->
            <!--<th>Goal Difference</th>-->
        </tr>
        <tr ng-repeat="pred in predictions">
            <td ng-hide="pred.length">
                {{pred.name}}
            </td>
            <td ng-hide="pred.length">{{pred.predicted}}</td>
        </tr>
    </table>
</div>

<p>{{errorMsg}}</p>
